body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.centered-square {
    width: 80vw;
    height: 30vh;
    background-color: rgba(211, 211, 211, 0.5); /* Světle šedá s průhledností */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.content {
    text-align: center;
    width: 80%;
}

#roomCode {
    padding: 12px 20px;
    margin-bottom: 20px;
    width: 200px;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

#roomCode:focus {
    border-color: #4CAF50;
}

button {
    padding: 12px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}